:root {
 --newsBlack: hsl(236, 13%, 42%);
 --newsWhite: hsl(36, 100%, 99%);
 --newsGray: hsl(233, 8%, 79%);
 --newsBlue: hsl(240, 100%, 5%);
 --newsOrange: hsl(35, 77%, 62%);
 --newsRed: hsl(5, 85%, 63%);
}