:root {
 --newsBlack: hsl(0, 0%, 0%);
 --newsWhite: hsl(0, 0%, 100%);
 --newsGray: hsl(0, 0%, 70%);
 --newsBlue: hsl(250, 96%, 5%);
 --newsOrange: hsla(40, 76%, 63%, 0.884);
 --newsRed: hsl(0, 89%, 63%);
}