@use '../util' as u;
@use '../util/funtions' as f;

.flex {
  display: flex;
  gap: var(--gap, u.rem(16));
}

.grid {
  display: grid;
  gap: var(--gap, u.rem(16));
}

img, .img {
  width: 100%;
}

.button {
  width: u.rem(160);
  height:u.rem(50);
  background-color: var(--newsRed);
  border: 0;

  & a {
    color: var(--newsWhite);
    font-size: u.rem(12);
    font-weight: 600;
    letter-spacing: u.rem(3);
    text-transform: uppercase;
  }
}

.button:hover{
  background-color: var(--newsBlue);
}

hr{
  background-color: var(--newsBlack);
  height: u.rem(1);
  border: none;
}


.main {
  grid-template-columns: 1fr;
  margin-inline: u.rem(32);

  &__content{
    display: grid;
    grid-template-columns: 1fr;

    &News{
      display: grid;
      grid-template-columns: 1fr;

      
    }
  }

  &__contentAside{
    background-color: var(--newsBlue);
    display: grid;
    gap: u.rem(10);
    padding-inline: u.rem(16);
    margin-block: u.rem(56);

    &-items{
      color: var(--newsWhite);
      margin-block: u.rem(10);
      
      p{
        margin-block-end: u.rem(30);
        color: var(--newsGray);
      }
    }
  }

  // extra content
  &__extraContent{
    display: grid;
    margin-bottom: u.rem(70);

    &-items{
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr u.rem(10);
      gap: u.rem(30);
      justify-content: space-evenly;
      align-items: center;
    }
  }

}

 .items__news p {
   margin: 0;
  font-size: clamp(u.rem(12), u.rem(16) + 2vw, u.rem(13));
 }

.header {
  align-items: center;
  justify-content: space-between;

  &__logo {
  margin: u.rem(32);
}

&__mobileNavToggle {
  display: none;
}


&__navMenu a{
  font-weight: 600;
  margin-inline-end: u.rem(12);
  color: var(--newsGray);
}

&__navMenu a:hover{
  color: var(--newsRed);
}
}

// header and navbar
@include u.breakpoint-down(medium){
  .header {
    justify-content: space-between;
  
  &__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 0%;
    z-index: 400;
    transform: translateX(100%);
    background: hsla(0, 10%, 53%, 0.4);
    transition: 350ms ease-out;



    &Menu {
    position: relative;
    z-index: 1000;
    gap: u.rem(32);
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, u.rem(160)) u.rem(32);
    min-height: 100vh;
    background: var(--newsWhite);
    backdrop-filter: blur(u.rem(16));
    

    & a{
      color: var(--newsBlack);
    }
  }
  }
  

&__nav[data-visible= 'true'] {
  transform: translateX(0%);
}

    &__mobileNavToggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url(/app/assets/images/icon-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    width: u.rem(32);
    aspect-ratio: 1;
    top: u.rem(32);
    right: u.rem(32);
  }

    &__mobileNavToggle[aria-expanded='true'] {
    background-image: url(/app/assets/images/icon-menu-close.svg);
  }
}
}
// end of header and navbar

@include u.breakpoint(large) {
  .header{
    margin-inline: u.rem(85);
    margin-bottom: u.rem(15);
  }
  .main{
    grid-template-rows: 1fr 1fr;
    margin-inline: u.rem(100);

    &__extraContent-items{
      margin-inline: u.rem(20);
    }
  }
  .main__content{
    grid-template-columns: 2fr 1fr;
    gap: u.rem(30);

    &News-menu{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: u.rem(50);
      align-items: center;
    }

    &Aside{
   margin-block: 0px;
  }

  
  }

  .main__extraContent {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .items__news p{
    margin: 0;
    font-size: clamp(u.rem(13), u.rem(16) + 2vw, u.rem(14));
  }
}